.contenedor-img-articulo {
    margin-top: 4rem;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.titulo-articulo {
    font-family: 'Monda', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
    color: #282230;
    text-align: left;
    padding-top: 0.5rem;
    
}

.texto-autor-articulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(111, 107, 119);
}

.cuerpo-texto-articulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(97, 97, 97);
}

.destacado-articulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(88, 28, 128);
    font-style: italic;
}

.contenedor-destacado {
    width: 75%;
    border-top: 4px solid #c7c7c7;
    border-bottom: 2px solid  #c7c7c7;
}

.texto-lateral-articulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
}

.titulo-lateral-artitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    color: rgb(97, 97, 97);
}

.contenedor-video {
    background-color: rgb(26, 18, 29);
}

.contenedor-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.icono-comparti {
    font-size: 1.2rem;
    color: rgb(97, 97, 97);
}

/* IMAGENES PRINCIPAL EN CADA ARTICULO */

.articulo-nintendo{
    background-image: url(./img/articulo/img-articulo1.jpg);
}

.articulo-zelda{
    background-image: url(./img/articulo/the_legend_of_zelda_breath_of_the_wild_2.jpg);
}

.articulo-motogp{
    background-image: url(./img/articulo/MotoGP.jpg);
}

.articulo-rustler{
    background-image: url(./img/articulo/Rustler.png);
}

.articulo-stubbs{
    background-image: url(./img/articulo/Stubbs.jpg);
}

.articulo-supermario{
    background-image: url(./img/articulo/Supermario.png);
}

/* BG PARA LOS ARTICULOS */

.bg-oscuro{
    background: rgb(26, 18, 29);
}

.bg-blanco{
    background: white;
}




